//-------------------------------------------------------------------------------
  @name: Form Input
  -------------------------------------------------------------------------------//

//form-input
.form-input
  .form-input__logo
    =`\n`
    img.form-input__logo__el(src='assets/img/logo/axtb-fed.svg', alt='axtbFed')/
    =`\n`
  .form-input__name
    h3.form-input__type !{data.type}
    h3.form-input__label !{data.label}
  .form-input__body
    .form-input__wrapper
      .form-input__head
        h5.form-input__title !{data.title}
        p.form-input__note !{data.note}
      //- alert
      if data.alert
        .form-input__error
          =`\n`
          button.form-input__error__btn.js-alert-close(type='button')
            =`\n`
            i.fi.fi-close
          p.form-input__error__txt Akun anda belum aktif, harap menunggu email pemberitahuan. Terima kasih
      //- registrasi success
      if !data.registrasiSucces
        ='\n'
        form.form-input__form.fi-form(action='#' method='get')
          each val in data.input
            include ../components/form-row.pug
          ='\n'
          button.btn.btn--primary(type='button' page=data.page) !{data.btnTxt}
        p.form-input__info !{data.info}
      else
        .form-input__success
          .form-input__success_icon
            ='\n'
            i.fi.fi-checklist
          h2.form-input__success__title Registrasi Berhasil
          p.form-input__success__desc Silakan cek email Anda untuk proses aktivasi akun
  .form-input__foot
    p.form-input__copyright !{data.copyright}
///form-input
